In [30]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [31]:
# Store filepath in a variable.
zip_code_file = "../Datasets/Zip_Zhvi_AllHomes.csv"
county_file = "../Datasets/County_Zhvi_AllHomes.csv"
state_file = "../Datasets/State_Zhvi_AllHomes.csv"

In [32]:
# Read our Data file with the pandas library, and create dataframes.
# The Zillow CSV files require ISO-8859-1 encoding.
zip_code_data = pd.read_csv(zip_code_file, encoding="ISO-8859-1")  # Zillow Home Value Index (ZHVI)
county_data = pd.read_csv(county_file, encoding="ISO-8859-1")      # Zillow Home Value Index (ZHVI)
state_data = pd.read_csv(state_file, encoding="ISO-8859-1")        # Zillow Home Value Index (ZHVI)

In [64]:
zip_code_data.head(3)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01
0,61639,10025,New York,NY,New York-Newark-Jersey City,New York County,1,171600.0,171600.0,171400.0,...,1118300,1114700,1109100,1097800,1086100,1079400,1071200,1064300,1048600,1027300
1,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,2,158400.0,159700.0,160700.0,...,351400,349900,348000,346800,347100,348400,350300,352200,352500,352300
2,61637,10023,New York,NY,New York-Newark-Jersey City,New York County,3,347900.0,349600.0,351100.0,...,1494500,1500400,1487900,1462200,1437800,1411100,1390200,1379300,1369500,1363000

In [52]:
# Place the rows with San Diego County into a dataframe
zip_sd_county_row = zip_code_data.loc[zip_code_data["CountyName"] == "San Diego County", :]
del zip_sd_county_row['RegionID']
del zip_sd_county_row['State']
del zip_sd_county_row['Metro']
del zip_sd_county_row['CountyName']
zip_sd_county_row

# Set the index to be region name
sd_county_zips_index = zip_sd_county_row.set_index("RegionName")
sd_county_zips_index.head()

,City,SizeRank,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,...,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01
RegionName,,,,,,,,,,,,,,,,,,,,,
91910,Chula Vista,119,163800.0,163500.0,163100.0,162700.0,162400.0,162300.0,162300.0,162500.0,...,525900,526500,526500,527500,531100,534200,535800,536500,536400,535700
92126,San Diego,183,153700.0,153200.0,152700.0,152100.0,151500.0,151000.0,150600.0,150300.0,...,588300,588100,589800,594200,598700,600600,602700,605800,607500,607100
91911,Chula Vista,197,143800.0,143500.0,143100.0,142700.0,142500.0,142300.0,142300.0,142400.0,...,474500,474200,474700,476600,479200,481100,483000,484900,486000,486200
92101,San Diego,230,147800.0,147800.0,147900.0,148100.0,148400.0,148800.0,149400.0,150000.0,...,594400,594500,594500,594200,594300,594700,595700,596400,595500,593800
92109,San Diego,231,209400.0,208400.0,207300.0,206200.0,205100.0,204000.0,203200.0,202700.0,...,943200,952100,958100,965000,974300,977400,974300,969400,964800,960300

In [66]:
# Find column index for desired date range start and end
start = sd_county_zips_index.columns.get_loc("2008-12")
end = sd_county_zips_index.columns.get_loc("2018-12")

# Make a new dataframe containing the 10 year range of data Dec 2008 - Dec 2018
# range_dates = sd_county_zips_index.iloc[:, start:end+1]
sd_county_zips_10yr_city_rank = pd.DataFrame(sd_county_zips_index, columns=["City", "SizeRank"])

sd_county_zips_10yr_date_range = sd_county_zips_index.iloc[:, start:end+1]

sd_county_zips_10yr = pd.merge(sd_county_zips_10yr_city_rank, sd_county_zips_10yr_date_range, on="RegionName")
sd_county_zips_10yr.head()

,City,SizeRank,2008-12,2009-01,2009-02,2009-03,2009-04,2009-05,2009-06,2009-07,...,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12
RegionName,,,,,,,,,,,,,,,,,,,,,
91910,Chula Vista,119,348100.0,342100.0,336200.0,329600.0,322400.0,314800.0,308500.0,304500.0,...,524100,525900,526500,526500,527500,531100,534200,535800,536500,536400
92126,San Diego,183,371900.0,370000.0,367600.0,364300.0,360400.0,356100.0,353500.0,353800.0,...,587400,588300,588100,589800,594200,598700,600600,602700,605800,607500
91911,Chula Vista,197,310300.0,304500.0,298700.0,292300.0,285400.0,278200.0,272100.0,268400.0,...,474300,474500,474200,474700,476600,479200,481100,483000,484900,486000
92101,San Diego,230,450000.0,447500.0,444100.0,439800.0,434800.0,430000.0,425300.0,421600.0,...,594000,594400,594500,594500,594200,594300,594700,595700,596400,595500
92109,San Diego,231,616500.0,616800.0,615800.0,613000.0,609600.0,606200.0,605200.0,608300.0,...,935800,943200,952100,958100,965000,974300,977400,974300,969400,964800

In [65]:
# Make a dataframe for summary
summary_zips_base = pd.DataFrame(sd_county_zips_10yr, columns=["2008-12", "2018-12"])
summary_zips = summary_zips_base.rename(columns={"2008-12": "2008-Q4 Home Value", "2018-12": "2018-Q4 Home Value"})
summary_zips.index.names = ['Zip Code']
summary_zips["10-Yr Home Value Change"] = (summary_zips["2018-Q4 Home Value"] - summary_zips["2008-Q4 Home Value"])*100 / summary_zips["2008-Q4 Home Value"]

# Make a copy of the summary dataframe that is formatted for display
summary_zips_formatted = summary_zips.copy()
summary_zips_formatted["2008-Q4 Home Value"] = summary_zips_formatted["2008-Q4 Home Value"].map("${:,.0f}".format)
summary_zips_formatted["2018-Q4 Home Value"] = summary_zips_formatted["2018-Q4 Home Value"].map("${:,.0f}".format)
summary_zips_formatted["10-Yr Home Value Change"] = summary_zips_formatted["10-Yr Home Value Change"].map("{:.2f}%".format)
summary_zips_formatted.head()

         2008-Q4 Home Value 2018-Q4 Home Value 10-Yr Home Value Change
Zip Code
91910              $348,100           $536,400                  54.09%
92126              $371,900           $607,500                  63.35%
91911              $310,300           $486,000                  56.62%
92101              $450,000           $595,500                  32.33%
92109              $616,500           $964,800                  56.50%

In [ ]:
# # Place the row with CA into a variable
# ca_row = state_data.loc[state_data["RegionName"] == "California", :]

# # Place the row with SD County into a variable
# sd_row = county_data.loc[county_data["RegionName"] == "San Diego County", :]
# del sd_row['State']
# del sd_row['Metro']
# del sd_row['StateCodeFIPS']
# del sd_row['MunicipalCodeFIPS']

# # Place the rows with **highest appreciation rate** into a variable
# zip_high_row = zip_code_data.loc[zip_code_data["RegionName"] == 92037, :]
# del zip_92037_row['City']
# del zip_92037_row['State']
# del zip_92037_row['Metro']
# del zip_92037_row['CountyName']

# # Place the rows with **lowest appreciation rate** into a variable
# zip_low_row = zip_code_data.loc[zip_code_data["RegionName"] == 92071, :]
# del zip_92071_row['City']
# del zip_92071_row['State']
# del zip_92071_row['Metro']
# del zip_92071_row['CountyName']

# ----------------------------------------------------------------------------------------------

# # Get list of column names
# column_names = list(state_data.columns.values)
# # Create empty dataframe
# state_county_zip = pd.DataFrame(columns=column_names)

# # Add our data rows to the empty dataframe 
# state_county_zip = state_county_zip.append(ca_row)
# state_county_zip = state_county_zip.append(sd_row)
# state_county_zip = state_county_zip.append(zip_92037_row)
# state_county_zip = state_county_zip.append(zip_92071_row)

# # # Set the index to be region name
# state_county_zip_index = state_county_zip.set_index("RegionName")
# state_county_zip_index.head()

# # Show DF
# state_county_zip_index.head()

# ----------------------------------------------------------------------------------------------

# # Find column index for desired date range start and end
# start = state_county_zip_index.columns.get_loc("2008-12")
# end = state_county_zip_index.columns.get_loc("2018-12")

# # Make a new dataframe containing the 10 year range of data Dec 2008 - Dec 2018
# state_county_zip_10yr = state_county_zip_index.iloc[:, start:end+1]
# state_county_zip_10yr